body {
    background-image: url(../img/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}
@media screen and (min-width: 600px) {
  .intro {
    background-color: rgb(0,0,0,0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    border-radius: 10px;
  }
}
@media screen and (max-width: 599px) {
  .intro {
    background-color: rgb(0,0,0,0.5);
    position: fixed;
    align-self: center;
    /*top: 50px;
    left: 10px;*/
    border-radius: 10px;
  }
}
h1 {
  font-family: 'Fredericka the Great', cursive;
}
main img {
  max-height: 150px;
}

