.banner {
    height: 400px;
    background-image:url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
}
body {
    background-color: #fbefdb;
    color: #1f5b25;
}
li {
    list-style: none;
}
li img {
    height: 1.2rem;
    margin-top: -3px;
    margin-right: 10px;
}
h1 {
    font-family: 'Fredericka the Great', cursive;
    margin-top: 10px;
  }
h5 {
    font-variant: small-caps;
}
form button {
    margin-left:10px;
}
.card a {
    color: #1f5b25;
}
.card a:hover {
    box-shadow: 0px 0px 10px 1px #1f5b25;
    text-decoration: none;
}
@media screen and (max-width: 575px) {
    form button {
        margin-left:0px;
        margin-top: 10px;
    }
  }



